%a#add-new-task.btn.btn-primary{:href => "#create-task-modal", :role => :button, :data => {:toggle => "modal"}} Add new task

#tasks-table
  = render 'tasks_table'

#edit-task-modal.modal.hide.fade{:role => :dialog}
#create-task-modal.modal.hide.fade{:role => :dialog}
  = render 'form', :task => Task.new
